.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown__label {
  padding-bottom: 5px;
}

.dropdown__select {
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  background: #ffffff;
  border-color: #d6d6d6;
}

.dropdown__select:not(:focus):invalid {
  color: #C7C7C7;
}

.dropdown__select option[placeholder] {
  display: none;
}